body {
    margin: 8px;
    display: block;
}

p {
    font-size: large;
}

.img{
    height: auto;
    max-width: 50%;
}

#copyright{
    font-style: italic;
    font-weight: lighter;
}

#mainHeading{
    color: red;
}

.funParagraph{
    color: green;
}